.comp__type-test{
  .comp--controller{
    display: block;
    position: fixed;
    z-index: 99;
    bottom: 0;
    width: 100%;
    background-color: white;
  }
  .slider-handle{
    transition: none;
  }
}
