#barba-wrapper{
  width: 100%;
}
.barba-container{
  display: block;
  position: static;
  z-index: 10;
}
.comp__list--thumbnails{
  .thumbnail{
    display: flex;
    &:hover{
      cursor: pointer;
    }
    a{
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: 0 0 50px rgba(0,0,0,0);
      transition: all 0.2s ease-in-out;
      &:hover{
        transform: scale(1.1);
        transition: all 0.2s ease-in-out;
        box-shadow: 0 0 50px rgba(0,0,0,0.2);
        cursor: pointer;
      }
    }
    .thumbnail--content{
      position: absolute;
      margin: auto;
      p{
        color: white;
        font-weight: 600;
      }
    }
  }
}
.comp__back{
  display: flex;
  width: 100%;
  position: fixed;
  top: 0;
  align-self: center;
  align-content: center;
  justify-content: center;
  margin: $spacing--medium auto 0;
  z-index: 99;
  a.button{

  }
}

.comp__header{
  display: flex;
  top: 0;
  width: 100%;
  height: 100vh;
  height: auto;
  align-items: center;
  justify-content: center;
  .comp--content{
    display: flex;
    position: absolute;
    margin: auto;
    color: white;
    width: 50%;
    h1{
      font-size: rem-calc(100px);
      font-weight: 600;
      text-align: center;
    }
  }
  .comp--media{
    top:0;
    position: absolute;
    width: 100%;
    img{
      width: 100%;
      // max-width: initial;
    }
  }
}
