extends _layouts/base

block scripts
  script(src= baseUrl + 'scripts/main--scrollmonitor.js')

block content
  .container
    .comp__scrollmoniter-el
    .comp__scrollmoniter-el
    .comp__scrollmoniter-el
    .comp__scrollmoniter-el
    .comp__scrollmoniter-el
    .comp__scrollmoniter-el
