extends _layouts/base

include _modules/link/link

block content
  .comp__collection--thumbnails
    .thumbnails-isotype-grid
      .grid-sizer
      .grid--large.featured.corporate.item.project
        a()
          .item--media
            img(src="images/image01.jpg")
          .item--content
            h4 image title
      .grid--small.featured.corporate.item.project
        a()
          .item--media
            img(src="images/image02.jpg")
          .item--content
            h4 image title
      .grid--large.featured.corporate.item.project
        a()
          .item--media
            img(src="images/image03.jpg")
          .item--content
            h4 image title
      .grid--small.featured.corporate.item.project
        a()
          .item--media
            img(src="images/image04.jpg")
          .item--content
            h4 image title
