extends _layouts/base

block scripts
  script(src= baseUrl + 'scripts/main.js')
  script(src= baseUrl + 'scripts/main--type-test.js')


block content
  .comp__type-test
    .comp--content
      .row.align-center
        .small-12.medium-8.large-6.column
          .type-test__header
            h1 Type test
          .type-test__paragraph
            p Kontrapunkt is the leading Scandinavian design agency. Design is the magic we use to translate human needs and winning ideas into meaningful brand experiences that move, inspire and add to the greater good. We believe in the value of being genuine and always seek the true essence of a brand. We admire those, who have the courage to stand up for who they really are. In a world that is becoming more and more transparent, you need inspiring and honest brands, you feel like spending time with. Brands that foster lasting trust and loyalty.To serve our clients the best way possible, we work globally, have the brightest talents and engage a strong ecosystem of specialised partners. Today we are more than 50 specialists working out of our offices in Denmark and Japan.
    .comp--controller
      .row
        .small-12.medium-6.large-4.column
          .controller__size
            p.label size
            .row
              .small-12.column
                input(type="number" id="sliderOutputFontSize")
              .small-12.column
                #slider--font-size.slider(data-slider data-initial-start="21")
                  span.slider-handle(data-slider-handle role="slider" tabindex="1" aria-controls="sliderOutputFontSize")
                  span.slider-fill(data-slider-fill)
        .small-12.medium-6.large-4.column
          .controller__leading
            p.label leading
            .row
              .small-12.column
                input(type="number" id="sliderOutputFontLeading")
              .small-12.column
                #slider--font-leading.slider(data-slider data-initial-start="30")
                  span.slider-handle(data-slider-handle role="slider" tabindex="1" aria-controls="sliderOutputFontLeading")
                  span.slider-fill(data-slider-fill)
        .small-12.medium-6.large-4.column
          .controller__tracking
            p.label tracking
            .row
              .small-12.column
                input(type="number" id="sliderOutputFontTracking")
              .small-12.column
                #slider--font-tracking.slider(data-slider data-initial-start="5")
                  span.slider-handle(data-slider-handle role="slider" tabindex="1" aria-controls="sliderOutputFontTracking")
                  span.slider-fill(data-slider-fill)
